<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if user_signed_in? %>
<h2><%= @user.displayname %></h2>

<% @user.mentorships.each do |journey| %>
	<%= journey.title %> <i><%= journey.level_name %></i><br>
<% end %>
<% end %>