// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-av {
	border-radius: 100%;
	height:200px;
	width:200px;
	float: left;
	margin-right: 40px;
}

#userwrapper {
	width: 700px;
	margin: 0 auto;
}

.user-listed {
	width: 45%;
}